@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 백그라운드 이미지 */
.background {
    background-attachment: fixed !important;
    background-size: cover;
    display: block;
    /* height: 960px; */
}

.background::after {
    display: block;
    content: "";
    clear: both;
}

.background img {
    width: 100%;
    height: 960px;
}

/* 달력 부분 */
.calendar-container {
    float:left !important;
    border-right: 1px solid black !important;
    margin-right: 10px !important;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 20px !important;
    height: 900px !important;
    width: 400px !important;
}

/* 다이어리 부분 */
.background .body .diary-container {
    float:left;
    width: 1200px;
    margin-top: 50px;
}

/* 월, 이름 뜨는 부분 */
.diary-container p {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'BMDOHYEON';
}

.date {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.diary-container .write-button {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    
}

.diary-container .write {
    width : 200px;  
    font-size: 15px;
    margin-left: 1060px;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 3px;
}

.diary-container .write span{
    padding-left: 8px;
    font-weight: bold;
    font-family: 'BMDOHYEON';
}

.diary-container .write img{
    margin-right: 0;
}



/* .diary-container .write img {
    margin-left: 1000px;
} */

/* 다이어리 리스트 */
.diary {
    margin-top: 30px;
    margin-left: 50px;
    
}